<config>
    <input>
        <jar in="core-0.0.1-SNAPSHOT.jar" out="core-0.0.1-SNAPSHOT.jar"/>
    </input>

    <keep-names>
        <class access="protected+">
            <field access="protected+"/>
            <method access="protected+"/>
        </class>
    </keep-names>
    <ignore-classes>
        <class template="class *ApiImpl"/>
        <class template="class *eptInfoServiceImpl"/>
        <class template="class *serColumnServiceImpl"/>
        <class template="class *serInfoByCodeServiceImpl"/>
        <class template="class *serOrgIdColumnServiceImpl"/>
        <class template="class com.lcp.core.auto.*"/>
    </ignore-classes>
    <property name="log-file" value="log.xml"/>
</config>
