<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lubase.cache.mapper.CacheCoreTableMapper">

    <resultMap id="resourceDataModel" type="com.lubase.model.ResourceDataModel">
        <result column="table_id" property="tableId"/>
        <result column="data_id" property="dataId"/>
        <result column="field" property="field"/>
        <result column="user_language" property="userLanguage"/>
        <result column="msg" property="msg"/>
    </resultMap>
    <resultMap id="tableInfo" type="com.lubase.model.DbTable">
        <result column="id" property="id"/>
        <result column="table_code" property="code"/>
        <result column="table_name" property="name"/>
        <result column="database_id" property="databaseId"/>
        <result column="database_type" property="databaseType"/>
        <result column="custom_config" property="customConfig"/>
        <result column="app_id" property="appId"/>
        <result column="is_view" property="isView"/>
        <result column="table_type_id" property="tableTypeId"/>
    </resultMap>
    <resultMap id="fieldInfo" type="com.lubase.model.DbField">
        <result column="id" property="id"/>
        <result column="table_id" property="tableId"/>
        <result column="table_code" property="tableCode"/>
        <result column="col_code" property="code"/>
        <result column="col_name" property="name"/>
        <result column="length" property="length"/>
        <result column="allow_null" property="isNull"/>
        <result column="col_default" property="colDefault"/>
        <result column="data_format" property="dataFormat"/>
        <result column="ele_type" property="eleType"/>
        <result column="ele_distype" property="eleDisType"/>
        <result column="is_multivalued" property="isMultivalued"/>
        <result column="visible" property="visible"/>
        <result column="code_type_id" property="codeTypeId"/>
        <result column="lookup" property="lookup"/>
        <result column="group_name" property="groupName"/>
        <result column="input_desc" property="inputDesc"/>
        <result column="tablefilter_sqlmode" property="tableFilter2SqlMode"/>
        <result column="order_id" property="orderId"/>
        <result column="validate_expression" property="validateExpression"/>
        <result column="validate_msg" property="validateMsg"/>
        <result column="need_log" property="needLog"/>
        <result column="service_name" property="serviceName"/>
        <result column="unique_value" property="uniqueValue"/>
        <result column="values_count" property="valuesCount"/>
        <result column="expression" property="expression"/>
    </resultMap>
    <resultMap id="codeData" type="com.lubase.model.DbCode">
        <result column="id" property="id"/>
        <result column="code_type_id" property="code_type_id"/>
        <result column="code_value" property="code"/>
        <result column="code_name" property="name"/>
        <result column="enable_tag" property="enable_tag"/>
        <result column="order_id" property="order_id"/>
    </resultMap>
    <select id="getTableCodeAndIdInfo" resultMap="tableInfo">
        select id, table_code, table_name, database_id, custom_config, app_id, is_view
        from dm_table
    </select>
    <select id="initTableInfoById" parameterType="Long" resultMap="tableInfo">
        select id,
               table_code,
               table_name,
               database_id,
               app_id,
               custom_config,
               is_view,
               table_type_id,
               (select database_type from dm_database where id = dm_table.database_id) as database_type
        from dm_table
        where id = #{id}
    </select>
    <select id="initColumnInfoById" parameterType="Long" resultMap="fieldInfo">
        select *
        from dm_column
        where id = #{id}
    </select>
    <select id="initColumnInfoByTableId" parameterType="Long" resultMap="fieldInfo">
        select *
        from dm_column
        where table_id = #{tableId}
        order by order_id asc
    </select>
    <select id="initColumnInfoByTableCode" parameterType="string" resultMap="fieldInfo">
        select *
        from dm_column
        where table_code = #{tableCode}
        order by order_id asc
    </select>
    <select id="getCodeListByTypeId" parameterType="string" resultMap="codeData">
        select *
        from dm_code
        where code_type_id = #{typeId}
    </select>
    <select id="getResourceList" parameterType="string" resultMap="resourceDataModel">
        select table_id, data_id, field, user_language, msg
        from ss_resource
        where app_id = #{appId}
          and table_code = #{tableCode}
    </select>
</mapper>
